html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}


// HERO
.hero {
  @extend .jumbotron;
  @extend .jumbotron-fluid;
  @include gradient-directional($start-color: #5dd1ed, $end-color: #2980b9, $deg: 135deg);
  color:#fff;
  text-align: center;

  @extend .text-sm-left;
  
  padding-top:15%;
  padding-bottom:3rem;
  margin-bottom:3rem;

  .hero-image {
    @extend .center-block;
    @extend .img-fluid;

    @include fadeInDown(
      $delay: .2s
    );

    margin-bottom:-6rem;

    @include media-breakpoint-down(xs) {
      width:60%;
    }

    @include media-breakpoint-up(sm) {
      margin-top:-5rem;

    }     
  }

  .hero-appicon {
    @extend .center-block;
    @extend .img-fluid;  
  } 
}



// FRONTPAGE
.placeholder {
  @extend .img-fluid;
  @include fadeIn(
    $delay: .5s
  );  
}
//5dd1ed
//3498db
//2980b9
